## Author

## Mehdi Alipour

# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized

## **Objectives:**

- ### List of popular languages for Data Science

- ### List of popular libraries for Data Science

- ### Commercial tools for  Data Science

## Some of the popular languages that Data Scientists use are:

1. Python

2. R

3. SQL

## Some of the commonly used libraries used by Data Scientists include:

1. Pandas

2. NumPy

3. TensorFlow

## Create a markdown cell with a table of Data Science tools:

|Tools|
|-------|
|Pandas|
|NumPy|
|Matplotlib|

### Below are a few examples of evaluating arithmetic expressions in Python:

### 1. Addition

2+2 # Adds 2 and 2

### 2. Subtraction

10-4 # Subtracts 4 from 10

### 3. Multiplication

2*3 # Multiplies 3 by 2

### 4. Division

10/2 # Divides 10 by 2

In [9]:
# This a simple arithmetic expression to mutiplying 3 by 4 then add integer 5.

print ((3*4)+5)

17

In [11]:
# This will convert 200 minutes to hours by diving by 60

def convert_minutes_to_hours(minutes):

    hours = minutes / 60

    return hours

    # Example usage

minutes = 200  # Change this value to any number of minutes

hours = convert_minutes_to_hours(minutes)

hours

3.3333333333333335